# Final Project

Team Name: D&S

Team members: Poladova Sevda and Kengesbay Dina

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#Read csv
data = pd.read_csv('C:\da\cars.csv')
data.head()

,Unnamed: 0,Title,Price,City,Link
0,0,Мерседес,3500000.0,"Атырау, Авангард2 май",https://www.olx.kz/obyavlenie/mersedes-IDkmWvU...
1,1,Продам митсубиси,3700000.0,"Атырау, Авангард3 май",https://www.olx.kz/obyavlenie/prodam-mitsubisi...
2,2,Срочно продам ГАЗ 21,300000.0,"Усть-Каменогорск, ДКМ (дом культуры металургов...",https://www.olx.kz/obyavlenie/srochno-prodam-g...
3,3,Срочно .продается,4000000.0,Туркестан2 май,https://www.olx.kz/obyavlenie/srochno-prodaets...
4,4,выкуп авто на утилизацию,150000.0,"Шымкент, Аль-Фарабийский район2 май",https://www.olx.kz/obyavlenie/vykup-avto-na-ut...

In [3]:
#Clean dataset
data = data.drop(columns=['Unnamed: 0','Link'])
data.drop_duplicates()

,Title,Price,City
0,Мерседес,3500000.0,"Атырау, Авангард2 май"
1,Продам митсубиси,3700000.0,"Атырау, Авангард3 май"
2,Срочно продам ГАЗ 21,300000.0,"Усть-Каменогорск, ДКМ (дом культуры металургов..."
3,Срочно .продается,4000000.0,Туркестан2 май
4,выкуп авто на утилизацию,150000.0,"Шымкент, Аль-Фарабийский район2 май"
...,...,...,...
655,Продам А8 обмен на газель,1700000.0,"Актобе, Юго-Запад 1Вчера 22:05"
656,продам ваз 2110 рус учет,500000.0,"Нур-Султан (Астана), Алматинский районВчера 22:05"
657,Продам приора 2008,880000.0,"Актобе, Старый городВчера 22:05"
658,Продам Деу Нексия 2013 год,1950000.0,СемейВчера 22:04
659,Продам Лада Priora,2000000.0,КостанайВчера 22:04

In [4]:
#Cretae columns isUrgently,isRecycling,isExchange, isSell from Title column
data['isUrgently'] = np.where(data['Title'].str.contains("Срочно",flags=re.IGNORECASE,), True, False)
data['isRecycling'] = np.where(data['Title'].str.contains("утилизаци",flags=re.IGNORECASE,), 1, 0)
data['isExchange'] = np.where(data['Title'].str.contains("обмен",flags=re.IGNORECASE,), 1, 0)
data['isSell'] = np.where(data['Title'].str.contains("прода",flags=re.IGNORECASE,), 1, 0)
data

,Title,Price,City,isUrgently,isRecycling,isExchange,isSell
0,Мерседес,3500000.0,"Атырау, Авангард2 май",False,0,0,0
1,Продам митсубиси,3700000.0,"Атырау, Авангард3 май",False,0,0,1
2,Срочно продам ГАЗ 21,300000.0,"Усть-Каменогорск, ДКМ (дом культуры металургов...",True,0,0,1
3,Срочно .продается,4000000.0,Туркестан2 май,True,0,0,1
4,выкуп авто на утилизацию,150000.0,"Шымкент, Аль-Фарабийский район2 май",False,1,0,0
...,...,...,...,...,...,...,...
655,Продам А8 обмен на газель,1700000.0,"Актобе, Юго-Запад 1Вчера 22:05",False,0,1,1
656,продам ваз 2110 рус учет,500000.0,"Нур-Султан (Астана), Алматинский районВчера 22:05",False,0,0,1
657,Продам приора 2008,880000.0,"Актобе, Старый городВчера 22:05",False,0,0,1
658,Продам Деу Нексия 2013 год,1950000.0,СемейВчера 22:04,False,0,0,1
659,Продам Лада Priora,2000000.0,КостанайВчера 22:04,False,0,0,1

In [7]:
#create column only with city name from City column
conditions = [
    (data['City'].str.contains("Атырау",flags=re.IGNORECASE)),
    (data['City'].str.contains("Риддер",flags=re.IGNORECASE)),
    (data['City'].str.contains("Сатпаев",flags=re.IGNORECASE)),
    (data['City'].str.contains("Байзак",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кокшетау",flags=re.IGNORECASE)),
    (data['City'].str.contains("Талдыкорган",flags=re.IGNORECASE)),
    (data['City'].str.contains("Петропавловск",flags=re.IGNORECASE)),
    (data['City'].str.contains("Алматы",flags=re.IGNORECASE)),
    (data['City'].str.contains("Нур-Султан",flags=re.IGNORECASE)),
    (data['City'].str.contains("Семей",flags=re.IGNORECASE)),
    (data['City'].str.contains("Костанай",flags=re.IGNORECASE)),
    (data['City'].str.contains("Павлодар",flags=re.IGNORECASE)),
    (data['City'].str.contains("Усть-Каменогорск",flags=re.IGNORECASE)),
    (data['City'].str.contains("Уральск",flags=re.IGNORECASE)),
    (data['City'].str.contains("Шымкент",flags=re.IGNORECASE)),
    (data['City'].str.contains("Туркестан",flags=re.IGNORECASE)),
    (data['City'].str.contains("Жезказган",flags=re.IGNORECASE)),
    (data['City'].str.contains("Караганда",flags=re.IGNORECASE)),
    (data['City'].str.contains("Актобе",flags=re.IGNORECASE)),
    (data['City'].str.contains("Макинск",flags=re.IGNORECASE)),
    (data['City'].str.contains("Акжайык",flags=re.IGNORECASE)),
    (data['City'].str.contains("Киевка",flags=re.IGNORECASE)),
    (data['City'].str.contains("Сайрам",flags=re.IGNORECASE)),
    (data['City'].str.contains("Мойынты",flags=re.IGNORECASE)),
    (data['City'].str.contains("Экибастуз",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кайтпас",flags=re.IGNORECASE)),  
    (data['City'].str.contains("Нура",flags=re.IGNORECASE)),
    (data['City'].str.contains("Большой Чаган",flags=re.IGNORECASE)),
    (data['City'].str.contains("Балуана Шолака",flags=re.IGNORECASE)), 
    (data['City'].str.contains("Актас",flags=re.IGNORECASE)),
    (data['City'].str.contains("Сауран",flags=re.IGNORECASE)),
    (data['City'].str.contains("Аксу",flags=re.IGNORECASE)),
    (data['City'].str.contains("Шу",flags=re.IGNORECASE)),
    (data['City'].str.contains("Шемонаиха",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кокпекты",flags=re.IGNORECASE)),
    (data['City'].str.contains("Булаево",flags=re.IGNORECASE)),
    (data['City'].str.contains("Рудный",flags=re.IGNORECASE)),
    (data['City'].str.contains("Темиртау",flags=re.IGNORECASE)),
    (data['City'].str.contains("Тараз",flags=re.IGNORECASE)),
    (data['City'].str.contains("Бесагаш",flags=re.IGNORECASE)),
    (data['City'].str.contains("Сарыагаш",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кордай",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кызылорда",flags=re.IGNORECASE)),
    (data['City'].str.contains("Кызылжар",flags=re.IGNORECASE)),
    (data['City'].str.contains("Жумыскер",flags=re.IGNORECASE)),   
    (data['City'].str.contains("Капчагай",flags=re.IGNORECASE)),
    (data['City'].str.contains("Владимировка",flags=re.IGNORECASE)),
    (data['City'].str.contains("Жанаозен",flags=re.IGNORECASE)),
    (data['City'].str.contains("Актау",flags=re.IGNORECASE)),
    (data['City'].str.contains("Аксай",flags=re.IGNORECASE)),
    (data['City'].str.contains("Балхаш",flags=re.IGNORECASE))
    ]

values = ['Атырау', 'Риддер','Сатпаев', 'Байзак','Кокшетау','Талдыкорган','Петропавловск', 'Алматы','Нур-Султан', 'Семей',
         'Костанай','Павлодар','Усть-Каменогорск','Уральск','Шымкент','Туркестан','Жезказган','Караганда','Актобе',
          'Макинск','Акжайык','Киевка','Сайрам','Мойынты','Экибастуз','Кайтпас','Нура','Большой Чаган','им.Балуана Шолака',
          'Актас','Сауран','Аксу','Шу','Шемонаиха','Кокпекты','Булаево','Рудный','Темиртау','Тараз','Бесагаш',
         'Сарыагаш','Кордай','Кызылорда','Кызылжар','Жумыскер','Капчагай','Владимировка','Жанаозен','Актау','Аксай','Балхаш']
data['City2'] = np.select(conditions, values)
data

,Title,Price,City,isUrgently,isRecycling,isExchange,isSell,City2
0,Мерседес,3500000.0,"Атырау, Авангард2 май",False,0,0,0,Атырау
1,Продам митсубиси,3700000.0,"Атырау, Авангард3 май",False,0,0,1,Атырау
2,Срочно продам ГАЗ 21,300000.0,"Усть-Каменогорск, ДКМ (дом культуры металургов...",True,0,0,1,Усть-Каменогорск
3,Срочно .продается,4000000.0,Туркестан2 май,True,0,0,1,Туркестан
4,выкуп авто на утилизацию,150000.0,"Шымкент, Аль-Фарабийский район2 май",False,1,0,0,Шымкент
...,...,...,...,...,...,...,...,...
655,Продам А8 обмен на газель,1700000.0,"Актобе, Юго-Запад 1Вчера 22:05",False,0,1,1,Актобе
656,продам ваз 2110 рус учет,500000.0,"Нур-Султан (Астана), Алматинский районВчера 22:05",False,0,0,1,Нур-Султан
657,Продам приора 2008,880000.0,"Актобе, Старый городВчера 22:05",False,0,0,1,Актобе
658,Продам Деу Нексия 2013 год,1950000.0,СемейВчера 22:04,False,0,0,1,Семей
659,Продам Лада Priora,2000000.0,КостанайВчера 22:04,False,0,0,1,Костанай

In [9]:
#create column with date publication from City column
conditions2 = [
    (data['City'].str.contains('май', flags=re.IGNORECASE)),
    (data['City'].str.contains('Сегодня', flags=re.IGNORECASE)),
    (data['City'].str.contains('апр', flags=re.IGNORECASE)),
    (data['City'].str.contains('Вчера', flags=re.IGNORECASE))
    ]
values2 = ['май', 'Сегодня', 'апрель', 'Вчера']
data['date'] = np.select(conditions2, values2)
data

,Title,Price,City,isUrgently,isRecycling,isExchange,isSell,City2,date
0,Мерседес,3500000.0,"Атырау, Авангард2 май",False,0,0,0,Атырау,май
1,Продам митсубиси,3700000.0,"Атырау, Авангард3 май",False,0,0,1,Атырау,май
2,Срочно продам ГАЗ 21,300000.0,"Усть-Каменогорск, ДКМ (дом культуры металургов...",True,0,0,1,Усть-Каменогорск,май
3,Срочно .продается,4000000.0,Туркестан2 май,True,0,0,1,Туркестан,май
4,выкуп авто на утилизацию,150000.0,"Шымкент, Аль-Фарабийский район2 май",False,1,0,0,Шымкент,май
...,...,...,...,...,...,...,...,...,...
655,Продам А8 обмен на газель,1700000.0,"Актобе, Юго-Запад 1Вчера 22:05",False,0,1,1,Актобе,Вчера
656,продам ваз 2110 рус учет,500000.0,"Нур-Султан (Астана), Алматинский районВчера 22:05",False,0,0,1,Нур-Султан,Вчера
657,Продам приора 2008,880000.0,"Актобе, Старый городВчера 22:05",False,0,0,1,Актобе,Вчера
658,Продам Деу Нексия 2013 год,1950000.0,СемейВчера 22:04,False,0,0,1,Семей,Вчера
659,Продам Лада Priora,2000000.0,КостанайВчера 22:04,False,0,0,1,Костанай,Вчера

In [10]:
#drop City column and rename City2 to City
data = data.drop(columns=['City'])
data = data.rename(columns={'City2':'City'})
data

,Title,Price,isUrgently,isRecycling,isExchange,isSell,City,date
0,Мерседес,3500000.0,False,0,0,0,Атырау,май
1,Продам митсубиси,3700000.0,False,0,0,1,Атырау,май
2,Срочно продам ГАЗ 21,300000.0,True,0,0,1,Усть-Каменогорск,май
3,Срочно .продается,4000000.0,True,0,0,1,Туркестан,май
4,выкуп авто на утилизацию,150000.0,False,1,0,0,Шымкент,май
...,...,...,...,...,...,...,...,...
655,Продам А8 обмен на газель,1700000.0,False,0,1,1,Актобе,Вчера
656,продам ваз 2110 рус учет,500000.0,False,0,0,1,Нур-Султан,Вчера
657,Продам приора 2008,880000.0,False,0,0,1,Актобе,Вчера
658,Продам Деу Нексия 2013 год,1950000.0,False,0,0,1,Семей,Вчера
659,Продам Лада Priora,2000000.0,False,0,0,1,Костанай,Вчера

In [11]:
#answer for question
#create columns Category and Year
a = np.linspace(data['Price'].min(), data['Price'].max(), 6)
conditions3 = [
    (data['Price'] >= a[0]) & (data['Price'] <= a[1]),
    (data['Price'] > a[1]) & (data['Price'] <= a[2]),
    (data['Price'] > a[2]) & (data['Price'] <= a[3]),
    (data['Price'] > a[3]) & (data['Price'] <= a[4]),
    (data['Price'] > a[4]) & (data['Price'] <= a[5]),
    (pd.isna(data['Price']))
    ]


values3 = ['Very cheap', 'Cheap', 'Middle', 'Less expensive','Expensive','unknown']
#values4 = ['1986-1993', '1994-2001', '2002-2009', '2010-2017','2018-2021']

data['Category'] = np.select(conditions3, values3)

conditions4 = [
    (data['Category'] == 'Very cheap'),
    (data['Category'] == 'Cheap'),
    (data['Category'] == 'Middle'),
    (data['Category'] == 'Less expensive'),
    (data['Category'] == 'Expensive'),
    (data['Category'] == 'unknown')
    ]
values4 = ['1986-1993', '1994-2001', '2002-2009', '2010-2017','2018-2021','unknown']
data['Year'] = np.select(conditions4, values4)
data

,Title,Price,isUrgently,isRecycling,isExchange,isSell,City,date,Category,Year
0,Мерседес,3500000.0,False,0,0,0,Атырау,май,Cheap,1994-2001
1,Продам митсубиси,3700000.0,False,0,0,1,Атырау,май,Cheap,1994-2001
2,Срочно продам ГАЗ 21,300000.0,True,0,0,1,Усть-Каменогорск,май,Very cheap,1986-1993
3,Срочно .продается,4000000.0,True,0,0,1,Туркестан,май,Cheap,1994-2001
4,выкуп авто на утилизацию,150000.0,False,1,0,0,Шымкент,май,Very cheap,1986-1993
...,...,...,...,...,...,...,...,...,...,...
655,Продам А8 обмен на газель,1700000.0,False,0,1,1,Актобе,Вчера,Very cheap,1986-1993
656,продам ваз 2110 рус учет,500000.0,False,0,0,1,Нур-Султан,Вчера,Very cheap,1986-1993
657,Продам приора 2008,880000.0,False,0,0,1,Актобе,Вчера,Very cheap,1986-1993
658,Продам Деу Нексия 2013 год,1950000.0,False,0,0,1,Семей,Вчера,Very cheap,1986-1993
659,Продам Лада Priora,2000000.0,False,0,0,1,Костанай,Вчера,Very cheap,1986-1993

In [12]:
#create car marks column from Title 
conditions5 = [
    ((data['Title'].str.contains('Мерс', flags=re.IGNORECASE)) | (data['Title'].str.contains('Мэрсэдэс', flags=re.IGNORECASE)) 
    | (data['Title'].str.contains('Mercedes', flags=re.IGNORECASE)) | (data['Title'].str.contains('Mersedes', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('митсубиси', flags=re.IGNORECASE)) | (data['Title'].str.contains('Mitsubishi', flags=re.IGNORECASE)) |
    (data['Title'].str.contains('митсубиши', flags=re.IGNORECASE))),
    
    (data['Title'].str.contains('ГАЗ', flags=re.IGNORECASE)),
    
    (data['Title'].str.contains('ласточк', flags=re.IGNORECASE)),

    ((data['Title'].str.contains('mazda', flags=re.IGNORECASE)) | (data['Title'].str.contains('Мазд', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('Шевролет', flags=re.IGNORECASE)) |(data['Title'].str.contains('Chevrolet', flags=re.IGNORECASE))),
     
    ((data['Title'].str.contains('приор', flags=re.IGNORECASE)) | (data['Title'].str.contains('priora', flags=re.IGNORECASE))),
     
    ((data['Title'].str.contains('Нексия', flags=re.IGNORECASE)) | (data['Title'].str.contains('Nexia', flags=re.IGNORECASE))
    | (data['Title'].str.contains('Daewoo', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('Toyota', flags=re.IGNORECASE)) | (data['Title'].str.contains('Тайота', flags=re.IGNORECASE))
     | (data['Title'].str.contains('Тойота', flags=re.IGNORECASE)) | (data['Title'].str.contains('таета', flags=re.IGNORECASE))
    | (data['Title'].str.contains('Camry', flags=re.IGNORECASE)) | (data['Title'].str.contains('Камри', flags=re.IGNORECASE))
     | (data['Title'].str.contains('Тайоту', flags=re.IGNORECASE))),
    (data['Title'].str.contains('Гольф', flags=re.IGNORECASE)),
    
    ((data['Title'].str.contains('Хюндай', flags=re.IGNORECASE)) | (data['Title'].str.contains('акцент', flags=re.IGNORECASE))
    | (data['Title'].str.contains('hyundai', flags=re.IGNORECASE))),
     
     ((data['Title'].str.contains('БМВ', flags=re.IGNORECASE)) | (data['Title'].str.contains('bmw', flags=re.IGNORECASE))),
    ((data['Title'].str.contains('киа', flags=re.IGNORECASE)) | (data['Title'].str.contains('кио', flags=re.IGNORECASE))
    | (data['Title'].str.contains('kia', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('грант', flags=re.IGNORECASE))|(data['Title'].str.contains('Ларгус', flags=re.IGNORECASE))
    |(data['Title'].str.contains('Лада', flags=re.IGNORECASE)) |(data['Title'].str.contains('Lada', flags=re.IGNORECASE))),
    

  
     ((data['Title'].str.contains('УАЗ', flags=re.IGNORECASE)) | (data['Title'].str.contains('девятка', flags=re.IGNORECASE)) 
     | (data['Title'].str.contains('ваз', flags=re.IGNORECASE)) | (data['Title'].str.contains('вас', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('Субару', flags=re.IGNORECASE)) | (data['Title'].str.contains('Subaru', flags=re.IGNORECASE))),
    ((data['Title'].str.contains('Опел', flags=re.IGNORECASE)) |(data['Title'].str.contains('Opel', flags=re.IGNORECASE))|
    (data['Title'].str.contains('Opal', flags=re.IGNORECASE))),
    ((data['Title'].str.contains('ниссан', flags=re.IGNORECASE))|(data['Title'].str.contains('nissan', flags=re.IGNORECASE))
    | (data['Title'].str.contains('нисан', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('Пассат', flags=re.IGNORECASE)) | (data['Title'].str.contains('Фол', flags=re.IGNORECASE))|
    (data['Title'].str.contains('Пасат', flags=re.IGNORECASE)) | (data['Title'].str.contains('Passat', flags=re.IGNORECASE))),
    
    ((data['Title'].str.contains('Audi', flags=re.IGNORECASE)) | (data['Title'].str.contains('Ауди', flags=re.IGNORECASE))),
    ((data['Title'].str.contains('Хонда', flags=re.IGNORECASE)) | (data['Title'].str.contains('Honda', flags=re.IGNORECASE))),
    ((data['Title'].str.contains('Lexus', flags=re.IGNORECASE)) | (data['Title'].str.contains('Лексус', flags=re.IGNORECASE)))
    
    ]
     
values5 = ['Мерседес','Митсубиси','ГАЗ','Ласточка','Мазда','Шевроле','Приора','Нексия','Тойота','Гольф','Хюндай','БМВ','Киа',
          'Лада','Ваз','Субару','Опель','Ниссан','Пассат', 'Ауди','Хонда','Лексус']
data['car_marks'] = np.select(conditions5, values5)
data['car_marks']=data['car_marks'].replace({"0":"другое"})
data['City']=data['City'].replace({"0":"другой"})

In [71]:
#convert to csv format
data.to_csv("cars.csv",encoding='utf-8-sig')